.banxin {
  width: 1200px;
  margin: 0 auto;
}

.gonggong {
  font: 500 30px "microsoft yahei";
  padding-top: 20px;
  padding-bottom: 10px;
  border-bottom: 1px solid #c2c2c2;
  width: 100%;
  color: #000;
}
.gonggong a {
  font-size: 12px;
  padding-left: 20px;
  padding-top: 25px;
}

.gonggong2 {
  width: 100%;
  background-color: #eeeeee;
  padding: 10px 10px 10px 20px;
  margin-top: 20px;
  box-sizing: border-box;
  border: 1px solid #d1d1d1;
  border-radius: 5px;
  margin-bottom: 20px;
}

.titleName {
  padding: 100px;
}
.titleName h1 {
  line-height: 50px;
  text-align: center;
  font-size: 30px;
  margin: 0 auto 100px;
  width: 200px;
  border: 1px solid #999;
  border-radius: 10px;
  background-color: #e9ebe8;
}

main {
  position: relative;
}

.nameList {
  position: absolute;
  top: 0;
  right: 0;
}
.nameList ul li {
  width: 100%;
  height: 25px;
  background-color: #e9ebe8;
  margin-top: 2px;
  padding: 0 10px;
  box-sizing: border-box;
  font-size: 14px;
  line-height: 25px;
  border-radius: 5px;
  color: #666666;
  cursor: pointer;
}
.nameList ul li:hover {
  background-color: red;
  color: #fff;
}

.neirong {
  width: 75%;
  font-size: 16px;
  line-height: 27px;
  color: #323232;
}
.neirong .xzyy .biaoge table, .neirong .xzyy .biaoge th, .neirong .xzyy .biaoge td {
  border: 1px solid #8f908d;
}
.neirong .xzyy .biaoge th, .neirong .xzyy .biaoge td {
  padding-left: 15px;
  padding-right: 15px;
}
.neirong .xzsx table {
  margin-bottom: 20px;
}
.neirong .xzsx table, .neirong .xzsx th, .neirong .xzsx td {
  border: 1px solid #8f908d;
}
.neirong .xzsx th, .neirong .xzsx td {
  padding-left: 15px;
  padding-right: 15px;
}
.neirong .srsxs table, .neirong .srsxs th, .neirong .srsxs td {
  border: 1px solid #8f908d;
}
.neirong .srsxs th, .neirong .srsxs td {
  padding-left: 15px;
  padding-right: 15px;
}
.neirong .xzsj table, .neirong .xzsj th, .neirong .xzsj td {
  border: 1px solid #8f908d;
}
.neirong .xzsj th, .neirong .xzsj td {
  padding-left: 15px;
  padding-right: 15px;
}
.neirong .jdt table, .neirong .jdt th, .neirong .jdt td {
  border: 1px solid #8f908d;
}
.neirong .jdt th, .neirong .jdt td {
  padding-left: 15px;
  padding-right: 15px;
}
.neirong .ypsp table, .neirong .ypsp th, .neirong .ypsp td {
  border: 1px solid #8f908d;
}
.neirong .ypsp th, .neirong .ypsp td {
  padding-left: 15px;
  padding-right: 15px;
}
.neirong .domys table, .neirong .domys th, .neirong .domys td {
  border: 1px solid #8f908d;
}
.neirong .domys th, .neirong .domys td {
  padding-left: 15px;
  padding-right: 15px;
}
.neirong .domkz table, .neirong .domkz th, .neirong .domkz td {
  border: 1px solid #8f908d;
}
.neirong .domkz th, .neirong .domkz td {
  padding-left: 15px;
  padding-right: 15px;
}
.neirong .wlztsj table, .neirong .wlztsj th, .neirong .wlztsj td {
  border: 1px solid #8f908d;
}
.neirong .wlztsj th, .neirong .wlztsj td {
  padding-left: 15px;
  padding-right: 15px;
}
.neirong .qpjksy table, .neirong .qpjksy th, .neirong .qpjksy td {
  border: 1px solid #8f908d;
}
.neirong .qpjksy th, .neirong .qpjksy td {
  padding-left: 15px;
  padding-right: 15px;
}
.neirong .frsm table, .neirong .frsm th, .neirong .frsm td {
  border: 1px solid #8f908d;
}
.neirong .frsm th, .neirong .frsm td {
  padding-left: 15px;
  padding-right: 15px;
}
.neirong .tzsjsm table, .neirong .tzsjsm th, .neirong .tzsjsm td {
  border: 1px solid #8f908d;
}
.neirong .tzsjsm th, .neirong .tzsjsm td {
  padding-left: 15px;
  padding-right: 15px;
}
