.top-navigation #wrapper #page-wrapper .border-bottom nav .navbar-header {
  background-color: #293846;
}
.top-navigation #wrapper #page-wrapper .border-bottom nav .navbar-collapse {
  background-color: #293846;
}
.top-navigation #wrapper #page-wrapper .border-bottom nav .navbar-collapse .nav li a {
  color: #fff;
}
.top-navigation #wrapper #page-wrapper .border-bottom nav .navbar-collapse .nav li a:visited {
  color: #1ab394;
}
.top-navigation #wrapper #page-wrapper .border-bottom nav .navbar-collapse .nav li a:hover {
  color: #1ab394;
}
.top-navigation #wrapper #page-wrapper .border-bottom nav .navbar-collapse .nav li a:active {
  color: #1ab394;
}
.top-navigation #wrapper #page-wrapper .border-bottom nav .navbar-collapse .nav li.open a {
  color: #1ab394 !important;
}
